.colorwheel {
    display: inline-block;
    // min-height: 350px;
}
.app {
    display: flex;
    padding: 50px 0;
}
#root {
    box-sizing: border-box;
    flex: 1;
}
#setwheel {
    box-sizing: border-box;
    flex: 1;
    position: relative; 
   
}
.colorthief {
    margin: auto;
    .drag-area {
        display: inline-block;
        position: relative;
    }
}
